* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: rgb(58, 87, 30);
    background-color: rgb(235, 213, 171);
}

h1 {
    color: rgb(63, 32, 10);
}

section, figure, .link-list {
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
    border: 7.5px solid rgb(98, 129, 65);
    background-color: rgb(139, 174, 102);
}

section {
    margin: 10px auto;
    padding: 0 20px;
}

.image-container {
    padding-top: 15px;
}

img {
    max-width: 450px;
    max-height: 300px;
}

ol, ul {
    padding: 0;
    list-style-position: inside;
}

.link-container {
    list-style-type: none;
}

p a {
    color: rgb(0, 0, 0);
}

.page-link, .home-page-link {
    display: block;
    padding: 25px 0;
    margin: 7.5px auto;
    color: rgb(235, 213, 171);
    background-color: rgb(230, 126, 34);
    font-size: 17.5px;
    max-width: 250px;
    text-decoration: none;
}

.page-link:hover, .home-page-link:hover {
    background-color: rgb(185, 104, 32);
}